@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0px 15px;
}

img {
  max-width: 100%;
}

header {
  padding-top: 40px;
}
header .head-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dream .makeDream {
  padding-top: 70px;
  text-align: center;
}
.dream .makeDream h1 {
  font-weight: 800;
  font-size: 28px;
}
.dream .makeDream p {
  font-weight: 400;
  font-size: 14;
  margin: 20px 0;
}
.dream .makeDream a {
  text-decoration: none;
  font-family: "Quicksand", serif;
  font-size: 12px;
  font-weight: 700;
  color: white;
  padding: 10px 35px;
  background-color: #377DFF;
  border-radius: 24px;
  border: solid 2px #377DFF;
}
.dream .makeDream a:hover {
  background-color: white;
  border: solid 2px #377DFF;
  color: #377DFF;
}
.dream .makeDream .project {
  margin: 50px 0 100px 0;
}

.aboutUs {
  padding-bottom: 100px;
}
.aboutUs .nameSection {
  text-align: center;
  font-family: "Quicksand", serif;
  margin: 0;
}
.aboutUs h4 {
  text-align: center;
  font-family: "Quicksand", serif;
  font-size: 14px;
  font-weight: 600;
  color: #377DFF;
}
.aboutUs h1 {
  text-align: center;
  font-size: 24px;
  margin: 10px 0 35px 0;
}
.aboutUs p {
  text-align: center;
  font-family: "Quicksand", serif;
  font-size: 14px;
  font-weight: 400;
  color: #464646;
}
.aboutUs .aboutUs_button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 35px 0 50px 0;
}
.aboutUs .aboutUs_button a {
  text-decoration: none;
  font-family: "Quicksand", serif;
  font-size: 12px;
  font-weight: 700;
  color: white;
  padding: 10px 35px;
  background-color: #377DFF;
  border-radius: 24px;
  border: solid 2px #377DFF;
}
.aboutUs .aboutUs_button a:hover {
  background-color: white;
  border: solid 2px #377DFF;
  color: #377DFF;
}
.aboutUs .aboutUs_img {
  text-align: center;
}

.services h4 {
  font-family: "Quicksand", serif;
  font-size: 14px;
  font-weight: 600;
  color: #377DFF;
  text-align: center;
}
.services p {
  font-family: "Quicksand", serif;
  font-size: 14px;
  font-weight: 400;
  color: #464646;
  text-align: center;
  margin-bottom: 10px;
}
.services h1 {
  font-weight: 700;
  font-size: 24px;
  margin: 18px 0 34px 0;
  text-align: center;
}
.services a {
  text-decoration: none;
  font-family: "Quicksand", serif;
  font-size: 14px;
  font-weight: 700;
  color: #377DFF;
}
.services__more {
  margin-top: 20px;
}
.services__more__box {
  width: 80%;
  margin: 0 auto 35px auto;
  text-align: center;
  border: solid 1px rgb(198, 198, 198);
  border-radius: 30px;
  padding: 52px 81px;
}
.services__more__box:hover {
  box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
}
.services__more__box h1 {
  font-family: "Quicksand", serif;
  font-weight: 700;
  font-size: 16px;
}

.portfolio__button {
  text-align: center;
  margin: 0 auto;
  text-align: center;
}
.portfolio__button button {
  font-family: "Quicksand", serif;
  font-weight: 700;
  font-size: 16px;
  background-color: white;
  color: #377DFF;
  border: solid #377DFF 2px;
  border-radius: 24px;
  padding: 10px 35px;
}
.portfolio__title {
  text-align: center;
  margin: 23px;
}
.portfolio__title h4 {
  font-family: "Quicksand", serif;
  font-size: 14px;
  font-weight: 600;
  color: #377DFF;
}
.portfolio__title h1 {
  font-weight: 700;
  font-size: 24px;
  margin: 10px 0px 34px 0px;
}
.portfolio__title p {
  font-family: "Quicksand", serif;
  font-size: 14px;
  font-weight: 400;
  color: #464646;
}
.portfolio .portfolios {
  text-align: left;
}
.portfolio .portfolios div {
  width: 80%;
  margin: 0 auto 50px auto;
}
.portfolio .portfolios p {
  color: white;
  font-family: "Quicksand", serif;
  font-weight: 700;
  font-size: 24px;
}
.portfolio .portfolios .furniture {
  background-image: url(/img/Rectangle\ 836.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 252px 30px 26px 24px;
}
.portfolio .portfolios .cloud {
  background-image: url(/img/Новый\ проект.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 252px 30px 26px 24px;
}
.portfolio .portfolios .byte {
  background-image: url(/img/Новый\ проект\ \(1\).png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 252px 30px 26px 24px;
}

.testimonial h4 {
  font-family: "Quicksand", serif;
  font-size: 14px;
  font-weight: 600;
  color: #377DFF;
  text-align: center;
}
.testimonial h1 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 35px;
}
.testimonial .talk-peopl {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.testimonial .talk-peopl__text h1 {
  font-family: "Quicksand", serif;
  font-weight: 600;
  font-size: 18px;
  color: #377DFF;
  margin-bottom: 10px;
}
.testimonial .talk-peopl__text p {
  font-family: "Quicksand", serif;
  font-weight: 400;
  font-size: 11px;
  color: #464646;
  text-align: center;
}
.testimonial .info p {
  font-family: "Quicksand", serif;
  font-weight: 400;
  font-size: 14px;
  color: #464646;
  width: 80%;
}/*# sourceMappingURL=style.css.map */